#
# Konfigurationsdatei für OpenOCD
# für Verbindung Arduino UNO R4 mit OpenOCD
#
# Der ESP32 stellt eine USB-Bridge nach SMSIS-DAP Standard bereit.
# Target ist der ARM basierte Mikrocontroller.
#
# Datei geladen von:
# https://github.com/arduino/ArduinoCore-renesas/blob/main/variants/UNOWIFIR4/openocd.cfg
#
# Mikrocontroller: RA4M1 von Renesas
# Architektur: ARM Cortex-M4
#

# Auf dem Kubuntu 24.10 sind die Konfigurationsdateien aus dem openocd Paket in
# /usr/share/openocd/scripts/
# OpenOCD sucht die Konfigurationsdateien ohne Pfad auch in diesem Verzeichnis


# Standard CMSIS-DAP Konfiguration
source [find interface/cmsis-dap.cfg]


# Name of the chip to debug/flash
if { [info exists CHIPNAME] } {
	set _CHIPNAME $CHIPNAME
} else {
	# Renesas RA4M1 Mikrocontroller
	set _CHIPNAME ra4m1
}

# ID of the JTAG TAP (Test Access Port Identifier)
# The ID of the ARM JTAG-DP (Debug Port), ARM = 0x5ba
if { [info exists CPU_JTAG_TAPID] } {
	set _CPU_JTAG_TAPID $CPU_JTAG_TAPID
} else {
	set _CPU_JTAG_TAPID 0x5ba00477
}

# ID of the SWD TAP (Test Access Port Identifier)
# The ID of the generic ARM DAP (Debug Access Port), ARM = 0x5ba
if { [info exists CPU_SWD_TAPID] } {
	set _CPU_SWD_TAPID $CPU_SWD_TAPID
} else {
	set _CPU_SWD_TAPID 0x5ba02477
}


# Standard SWJ-DP Konfiguration (ARM Standard, basierend auf JTAG Standard)
# SWJ-DP = Serial wire JTAG-debug port
source [find target/swj-dp.tcl]


if { [using_jtag] } {
	set _CPU_TAPID $_CPU_JTAG_TAPID
} else {
	set _CPU_TAPID $_CPU_SWD_TAPID
}

swj_newdap $_CHIPNAME cpu -irlen 4 -expected-id $_CPU_TAPID
dap create $_CHIPNAME.dap -chain-position $_CHIPNAME.cpu

set _TARGETNAME $_CHIPNAME.cpu
target create $_TARGETNAME cortex_m -dap $_CHIPNAME.dap


if { [info exists WORKAREASIZE] } {
	set _WORKAREASIZE $WORKAREASIZE
} else {
	# 32 KB On-Chip SRAM
	set _WORKAREASIZE 0x10000
}

$_TARGETNAME configure -work-area-phys 0x1ffe0000 \
                       -work-area-size $_WORKAREASIZE -work-area-backup 0

if { ![using_hla] } {
	cortex_m reset_config sysresetreq
}

adapter speed 1000
